<!--this is a email template-->

<!DOCTYPE html>
<html>
<head>
  <title>Reset Password Template</title>
</head>
<body>
<div style="background-color: #f3f3f3; padding: 20px;text-align: center ">
  <h1 style="color: #333;">REST PASSWORD SERVICE ENSAH TERRAIN</h1>
</div>

<div style="background-color: #ffffff; padding: 20px;">
  <h4 th:text="'Hello ' + ${firstName} + ' ' + ${lastName} + ' ! Welcome to our service. !'">Default Welcome Message</h4>

  <p>Click on the link below to reset your password:</p>
  <a th:href="@{'http://localhost:4200/accueil/verify-token/' + ${token}}"
     style="background-color: #007bff; color: #ffffff; padding: 10px; text-decoration: none; display: inline-block;">
    Reset Password
  </a>
</div>

<div style=" padding: 20px;">
  <img src="cid:footer" alt="Footer Image" >
</div>
</body>
</html>
